body {
  font-size: 16px;
}

div {
  font-family: 'PT Sans', sans-serif;
}

a:hover {
  color: #001c58;
}

a {
  color: #555;
}

.navi {
  margin-top: 35px;
}
.post-box {
  margin-bottom: 50px;
}
.post-teaser {
  width: 100px;
}

.post-tech {
  font-style: italic;
}

.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
        fill: $grey-color;
    }
}