---
layout: default
---

<div class="home">

    {% for post in site.posts %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if lastyear and year != lastyear %}
      </div>
    {% endif %}
    {% if year != lastyear %}
      <h2>{{ year }}</h2>
      <div class="post-list" >
      {% capture lastyear %}{{ year }}{% endcapture %}
    {% endif %}
      <div class="post">
        <div class="post-teaser">
          <img class="post-teaser" src="{{ post.teaserimage }}" />
        </div>
        <div class="post-content" >
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <p>
            {{ post.excerpt }}
          </p>
        </div>
      </div>
    {% endfor %}

</div>
