---
layout: default
---

<div class="container">
    
    <!--
    <div class="jumbotron">
    <h1>Those things CS</h1>
    <h3>computer science and game development projects by Dirk Fortmeier</h3>
    </div>-->
    {% capture currentyear %}{{ site.time | date: '%y' }}{% endcapture %}
    {% for post in site.posts %}
    {% capture year %}{{post.date | date: "%Y"}}{% endcapture %}
    {% if lastyear and year != lastyear %}
      </div>
    {% endif %}
    {% if year != lastyear %}
      {% if site.time < post.date %}
      <h2>current</h2>
      {% else %}
      <h2>{{ year }}</h2>
      {% endif %} 
      <div class="row" >
      {% capture lastyear %}{{ year }}{% endcapture %}
    {% endif %}
      <div class="col-md-4 col-xs-12 post-box">
        <div class="post-teaser media-left">
          <img class="post-teaser" src="{{ post.teaserimage }}" />
        </div>
        <div class="media-body" >
          <a class="media-heading" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          <p>
            {{ post.excerpt }}
          </p>
          <p class="post-tech">
            Technology: {{ post.tech }}
          </p>
        </div>
      </div>
    {% endfor %}
    </div>
</div>
