---
layout: default
---
<div class="container">

<div class="row">
<div class="col-md-8 col-xs-12">

  <header class="post-header">
    <h2 class="post-title">{{ page.title }}</h2>
    <!--p class="post-meta">{{ page.date | date: "%Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p-->
  <div class="post-tech">
  Technology used:
  {% for t in page.tech %}
  {{ t }}
  {% endfor %}    
  </div>
  </header>

  <article class="post-content">
    {{ content }}
  </article>
  </div>
  <div class="col-md-2"></div>
</div>

</div>
